In [1]:
range(10)# range is inbulit function it act like genators---it givesto generate the data set

range(0, 10)

In [2]:
list(range(10))# list is a iterators so it will give the whole data starting and still the end point and excluding end point

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(10,3))#it will wont give the result it is in negative direction so we can give step size (-1)

[]

In [5]:
list(range(10,3,-1))

[10, 9, 8, 7, 6, 5, 4]

In [6]:
list(range(10,3.5,-1))#it will not take floting point value expect integer values ----arange can be used floating point

TypeError: 'float' object cannot be interpreted as an integer

In [10]:
#looping one by one extract the data set--list manipulation
l=[3,4,5,6,7,8,23,45]
# requirement manipulat all the date set add 2 are3  inside the each every element and create new list
m=[]
for i in l:
    m.append(i+2)# append the data set in the end of the data
print(m)

[5, 6, 7, 8, 9, 10, 25, 47]

In [14]:
#another method to extract the data
l=[1,2,3,4,5,6,7]
m=[]
for i in range(len(l)):#len() means tell length of the list
    m.append(l[i]+2)
print(m)

[3, 4, 5, 6, 7, 8, 9]

In [17]:
#i want data which is >=10
l=[1,2,3,4,5,6,25,30]
m=[]
for i in l:
    if i>=10:
        m.append(i+2)
print(m
     )

[27, 32]

In [24]:
#if and elif statement and else
s=10
if s > 10:
    print("yes this is greater than 10")
    if type(s)==int :
        print("yes my data is an integer")
elif s==20:
    print("yes this is lesser than 20")
else:
    print("non of the condition is true")

non of the condition is true

In [22]:
# if my data set is string add to the new list if its integer no need
l=[1,2,3,4,5,6,7,"lakshmi","sudha"]
m=[]
for i in l: #for loop is used to extract the data one by one
    if type(i)==str:
        m.append(i)
print(m)

['lakshmi', 'sudha']

In [23]:
c=10
type(c)

int

In [25]:
# for else statement is used in python its not like if else statement if the data come to end it will show
l=[5,6,7,8,9,10]
for i in l:
    print(i)
else:
    print("nothing is left over in the list")#database connection it will be used

5
6
7
8
9
10
nothing is left over in the list

In [1]:
#if in some condition the not able to complete entire data it will not come to else statement doing the break statement
#using while operation 
d=10
s=0
i=1#requriment perform addition operation of all the integer
while i<=d:#dont give True or d==o like conditiond its always true 
    s=s+i
    i=i+1
    print(s)
print(s)

1
3
6
10
15
21
28
36
45
55
55

In [28]:
#iterable object
for x in "lakshmi":
    print(x)

l
a
k
s
h
m
i

In [5]:
# how to interpet the program
# break and continue
#if the system encounter the m in the this condition dont do anything if not contunie the statement
for x in "lakshmi":
    if x=="m":
        break#out of the condition
    print(x)
else:#its not if else block its for  else #
    print("i am able to complete the iteratio ")
print("out of the break")

l
a
k
s
h
m
i
i am able to complete the iteratio
out of the break

In [ ]:
#continue statement
for i in "lakshmi":
    if i =="m":
        continue #it immedital control to the loop it as encounter the m if whaterever u written after continue it will not contiue
    print(i)