In [2]:
#input statement there many way to pass data as an arrguments form command line
#input function ----means some kind of data should enter the user
a=input()
b=int(a)
type(b)

1234

int

In [3]:
#type casting used to convert the str to int
a=int("123456")#if its a string type of charter it will not able typecast
print(a)

123456

In [5]:
#input always takes a string operation so that we can type casting hear
a=input()
l=[1,2,3,4,5,6,7,6,6,5,7,7,5]# i want the code which uset give the input as 8 then should be display in anew list only 8 should be displayed
m=[]
for i in l:
    if i==a:
        m.append(i)
print(m)# it will display empty list beacause input takes only string

8
[]

In [6]:
a=int(input())
l=[1,2,3,4,5,6,7,8,2,3,4,5]
m=[]
for n in l:
    if n==a:
        m.append(n)
print(m)

3
[3, 3]

In [7]:
# + is used to concatented two string if its string
"lakshmi" + "devi"

'lakshmidevi'

In [9]:
"lakshmi" +"5" # we can type casting in this case are double r sigle quotes

'lakshmi5'

In [12]:
[1,2,3,4] + ['lakshmi']

[1, 2, 3, 4, 'l', 'a', 'k', 's', 'h', 'm', 'i']

In [2]:
# string object basics
s="lakshmi"
s + str(2)
print(s)

lakshmi

In [3]:
s*10#multiple the string 10 times, it will bw the same in the list

'lakshmilakshmilakshmilakshmilakshmilakshmilakshmilakshmilakshmilakshmi'

In [4]:
s+str(2)#concatetae the string

'lakshmi2'

In [6]:
[1,2,3,4,"lak"]*3#repate the same with list

[1, 2, 3, 4, 'lak', 1, 2, 3, 4, 'lak', 1, 2, 3, 4, 'lak']

In [7]:
s.upper()#inbulit function it will the strinh in upper case

'LAKSHMI'

In [8]:
s.lower()#it will convert in lower case

'lakshmi'

In [11]:
#i have string and i want to split the string and i need it in the form of list
a="my name is the lakshmi"
a.split()

['my', 'name', 'is', 'the', 'lakshmi']

In [10]:
a.split()#split always try to return a list

['my', 'name', 'is', 'the', 'lakshmi']

In [15]:
#my default split takes white space delimeter in this time i will give different delimeter i need to spllit(@)
b="lakshmi@is@not@my@name"
b.split("@")

['lakshmi', 'is', 'not', 'my', 'name']

In [16]:
b="lakshmidevi"
b.split('i')

['lakshm', 'dev', '']

In [17]:
b.partition("i")#it will be return always in tuples, it should be writen delimeter without delimeter it show error,
#it will encounter only the first occurnes

('lakshm', 'i', 'devi')

In [19]:
b.find('m')#find it will return the inder number of the string, it will return only the first ocurrness of the string,
#if the entered string or character is not in the string it will give  by default index -1

5

In [28]:
#b.center(3)#it will center the string and we need give the parameter as given width and the given delimeter
b.center(40,'h')

'hhhhhhhhhhhhhhlakshmidevihhhhhhhhhhhhhhh'

In [32]:
"lakshmidevi\tshashi".split()

['lakshmidevi', 'shashi']

In [33]:
"lakshmi\tdevi".expandtabs()#it will returns in string farmate

'lakshmi devi'

In [1]:
#{}it is place holder which is given in the formate basis in the run time
"my name is {} devi".format('lakshmi')

'my name is lakshmi devi'

In [2]:
a=input("please enter the first name and last name:")
b=input("enter last name:")
"my name is {} {}".format(a,b)

please enter the first name and last name:lakshmi
enter last name:devi

'my name is lakshmi devi'

In [6]:
s="lakshmidevi12"
s.isalnum()

True