In [2]:
#input statement there many way to pass data as an arrguments form command line
#input function ----means some kind of data should enter the user
a=input()
b=int(a)
type(b)

1234

int

In [3]:
#type casting used to convert the str to int
a=int("123456")#if its a string type of charter it will not able typecast
print(a)

123456

In [5]:
#input always takes a string operation so that we can type casting hear
a=input()
l=[1,2,3,4,5,6,7,6,6,5,7,7,5]# i want the code which uset give the input as 8 then should be display in anew list only 8 should be displayed
m=[]
for i in l:
    if i==a:
        m.append(i)
print(m)# it will display empty list beacause input takes only string

8
[]

In [6]:
a=int(input())
l=[1,2,3,4,5,6,7,8,2,3,4,5]
m=[]
for n in l:
    if n==a:
        m.append(n)
print(m)

3
[3, 3]

In [7]:
# + is used to concatented two string if its string
"lakshmi" + "devi"

'lakshmidevi'

In [9]:
"lakshmi" +"5" # we can type casting in this case are double r sigle quotes

'lakshmi5'

In [12]:
[1,2,3,4] + ['lakshmi']

[1, 2, 3, 4, 'l', 'a', 'k', 's', 'h', 'm', 'i']

In [2]:
# string object basics
s="lakshmi"
s + str(2)
print(s)

lakshmi

In [3]:
s*10#multiple the string 10 times, it will bw the same in the list

'lakshmilakshmilakshmilakshmilakshmilakshmilakshmilakshmilakshmilakshmi'

In [4]:
s+str(2)#concatetae the string

'lakshmi2'

In [6]:
[1,2,3,4,"lak"]*3#repate the same with list

[1, 2, 3, 4, 'lak', 1, 2, 3, 4, 'lak', 1, 2, 3, 4, 'lak']

In [7]:
s.upper()#inbulit function it will the strinh in upper case

'LAKSHMI'

In [8]:
s.lower()#it will convert in lower case

'lakshmi'

In [11]:
#i have string and i want to split the string and i need it in the form of list
a="my name is the lakshmi"
a.split()

['my', 'name', 'is', 'the', 'lakshmi']

In [10]:
a.split()#split always try to return a list

['my', 'name', 'is', 'the', 'lakshmi']

In [15]:
#my default split takes white space delimeter in this time i will give different delimeter i need to spllit(@)
b="lakshmi@is@not@my@name"
b.split("@")

['lakshmi', 'is', 'not', 'my', 'name']

In [16]:
b="lakshmidevi"
b.split('i')

['lakshm', 'dev', '']

In [17]:
b.partition("i")#it will be return always in tuples, it should be writen delimeter without delimeter it show error,
#it will encounter only the first occurnes

('lakshm', 'i', 'devi')

In [19]:
b.find('m')#find it will return the inder number of the string, it will return only the first ocurrness of the string,
#if the entered string or character is not in the string it will give  by default index -1

5

In [28]:
#b.center(3)#it will center the string and we need give the parameter as given width and the given delimeter
b.center(40,'h')

'hhhhhhhhhhhhhhlakshmidevihhhhhhhhhhhhhhh'

In [32]:
"lakshmidevi\tshashi".split()

['lakshmidevi', 'shashi']

In [33]:
"lakshmi\tdevi".expandtabs()#it will returns in string farmate

'lakshmi devi'

In [1]:
#{}it is place holder which is given in the formate basis in the run time
"my name is {} devi".format('lakshmi')

'my name is lakshmi devi'

In [2]:
a=input("please enter the first name and last name:")
b=input("enter last name:")
"my name is {} {}".format(a,b)

please enter the first name and last name:lakshmi
enter last name:devi

'my name is lakshmi devi'

In [6]:
s="lakshmidevi12"
s.isalnum()

True

In [4]:
s="laks124"
s.isascii()

True

In [5]:
s.isdecimal

In [6]:
s.islower

In [7]:
s="lakshmi"
s.islower()

True

In [8]:
s.isupper()

False

In [9]:
s="lakshmidevi"
s.endswith("i")

True

In [10]:
len(s)

11

In [11]:
#list is a collection of items ,it can be created in [], it is mutable, array can be used in numpy not in list
a=[1,2,3,4,'hello','shashi',4,5,6,[1,2,3]]

In [16]:
m=[]
for i in a:
    m.append(i
             )
print(m)

[1, 2, 3, 4, 'hello', 'shashi', 4, 5, 6, [1, 2, 3]]

In [21]:
b=[1,2,3,4,5,6,'lakshmi',1,2,3,'devi']
a+b

[1,
 2,
 3,
 4,
 5,
 6,
 'lakshmi',
 1,
 2,
 3,
 'devi',
 1,
 2,
 3,
 4,
 5,
 6,
 'lakshmi',
 1,
 2,
 3,
 'devi']

In [18]:
a+b

[1,
 2,
 3,
 4,
 5,
 6,
 'lakshmi',
 1,
 2,
 3,
 'devi',
 1,
 2,
 3,
 4,
 5,
 6,
 'lakshmi',
 1,
 2,
 3,
 'devi']

In [19]:
a+b

[1,
 2,
 3,
 4,
 5,
 6,
 'lakshmi',
 1,
 2,
 3,
 'devi',
 1,
 2,
 3,
 4,
 5,
 6,
 'lakshmi',
 1,
 2,
 3,
 'devi']

In [20]:
(a+b)

[1,
 2,
 3,
 4,
 5,
 6,
 'lakshmi',
 1,
 2,
 3,
 'devi',
 1,
 2,
 3,
 4,
 5,
 6,
 'lakshmi',
 1,
 2,
 3,
 'devi']

In [22]:
(a+b)*0

[]

In [23]:
(a+b)*1

[1,
 2,
 3,
 4,
 5,
 6,
 'lakshmi',
 1,
 2,
 3,
 'devi',
 1,
 2,
 3,
 4,
 5,
 6,
 'lakshmi',
 1,
 2,
 3,
 'devi']

In [24]:
print(a)

[1, 2, 3, 4, 5, 6, 'lakshmi', 1, 2, 3, 'devi']

In [25]:
print(b)

[1, 2, 3, 4, 5, 6, 'lakshmi', 1, 2, 3, 'devi']

In [28]:
a=[13,24,67]
b=[143,123]

In [29]:
a+b

[13, 24, 67, 143, 123]

In [30]:
(a+b)*2

[13, 24, 67, 143, 123, 13, 24, 67, 143, 123]

In [31]:
b+["lakshmi"]

[143, 123, 'lakshmi']

In [32]:
b+list("lakshmi") #list object is an always take iterable object

[143, 123, 'l', 'a', 'k', 's', 'h', 'm', 'i']

In [33]:
b+list(12)

TypeError: 'int' object is not iterable

In [34]:
b

[143, 123]

In [36]:
b.append("lakshmidevi")
b

[143, 123, 'lakshmidevi', 'lakshmidevi']

In [37]:
b

[143, 123, 'lakshmidevi', 'lakshmidevi']

In [38]:
b.append('shashi')# appened is always appened data in last

In [39]:
b

[143, 123, 'lakshmidevi', 'lakshmidevi', 'shashi']

In [40]:
b.index(2,"shankarappa")
b

TypeError: slice indices must be integers or have an __index__ method

In [41]:
b.insert(2,"shankarappa")# insert takes index value and it will insert the data befor the index value in postive directon r in negative direction
b

[143, 123, 'shankarappa', 'lakshmidevi', 'lakshmidevi', 'shashi']

In [42]:
b.insert(-1,"devi")
b

[143, 123, 'shankarappa', 'lakshmidevi', 'lakshmidevi', 'devi', 'shashi']

In [43]:
b.pop()#if we wont give any parameter inside the pop it will remove the last data
#it will remove permaentely

'shashi'

In [44]:
b

[143, 123, 'shankarappa', 'lakshmidevi', 'lakshmidevi', 'devi']

In [45]:
b.pop(2)#index value is given as parameter

'shankarappa'

In [46]:
b

[143, 123, 'lakshmidevi', 'lakshmidevi', 'devi']

In [47]:
b[::-1]#reverse operation it is not a permament changes if give reassignement it will takes permaent changes ex:b=b[::-1]

['devi', 'lakshmidevi', 'lakshmidevi', 123, 143]

In [50]:
b.reverse()
b

[143, 123, 'lakshmidevi', 'lakshmidevi', 'devi']

In [51]:
b

[143, 123, 'lakshmidevi', 'lakshmidevi', 'devi']

In [52]:
b.reverse()# it is permanent changes this is the difference
b

['devi', 'lakshmidevi', 'lakshmidevi', 123, 143]

In [53]:
b

['devi', 'lakshmidevi', 'lakshmidevi', 123, 143]

In [54]:
b.sort()#it will not supoort int and str the both are nested list also

TypeError: '<' not supported between instances of 'int' and 'str'

In [55]:
c=[1,2,3,6,5,4]
c.sort()#it always give the asscending order
c

[1, 2, 3, 4, 5, 6]

In [56]:
c=["lakshmi",'devi','shashi']
c.sort()#it will be alphabetic order by default it give asscending order if we want in descending order just give reverse=true r false
c

['devi', 'lakshmi', 'shashi']

In [57]:
c.sort(reverse=True)

In [58]:
c

['shashi', 'lakshmi', 'devi']

In [59]:
c.sort(reverse=False)

In [60]:
c

['devi', 'lakshmi', 'shashi']

In [62]:
a=[1,2,3,4,5]
b=[23,45,65,78,32]
c=[43,23,1,2,5,6,7]
d=[a,b,c]

In [63]:
d[-1]

[43, 23, 1, 2, 5, 6, 7]

In [64]:
d[2]

[43, 23, 1, 2, 5, 6, 7]

In [65]:
d[0]

[1, 2, 3, 4, 5]

In [66]:
d[1]

[23, 45, 65, 78, 32]

In [67]:
d[1][2]

65

In [68]:
d[2][2:4]

[1, 2]

In [69]:
D[2]

NameError: name 'D' is not defined

In [70]:
d[2]

[43, 23, 1, 2, 5, 6, 7]

In [71]:
d[2][1:4]

[23, 1, 2]

In [72]:
d[2][::3]

[43, 2, 7]

In [73]:
#requirement i have list we want reversal of list of list
d

[[1, 2, 3, 4, 5], [23, 45, 65, 78, 32], [43, 23, 1, 2, 5, 6, 7]]

In [78]:
m=[]
c=d[::-1]
for a in c:
    m.append(a[::-1])

m

In [79]:
m

[[7, 6, 5, 2, 1, 23, 43], [32, 78, 65, 45, 23], [5, 4, 3, 2, 1]]

In [80]:
#requirement only the data in list to be reversed
d

[[1, 2, 3, 4, 5], [23, 45, 65, 78, 32], [43, 23, 1, 2, 5, 6, 7]]

In [83]:
m=[]
d[::-1]
for i in d:
    m.append(i[::-1])

In [84]:
m

[[5, 4, 3, 2, 1], [32, 78, 65, 45, 23], [7, 6, 5, 2, 1, 23, 43]]

In [86]:
d

[[43, 23, 1, 2, 5, 6, 7], [23, 45, 65, 78, 32], [1, 2, 3, 4, 5]]

In [85]:
m=[]
d.reverse()
for a in d:
    m.append(a[::-1])
m

[[7, 6, 5, 2, 1, 23, 43], [32, 78, 65, 45, 23], [5, 4, 3, 2, 1]]

In [98]:
[a[::-1] for a in d]

[[7, 6, 5, 2, 1, 23, 43], [32, 78, 65, 45, 23], [5, 4, 3, 2, 1]]

In [87]:
#requriement i want extract the data in the 2 postion in all the list
m

[[7, 6, 5, 2, 1, 23, 43], [32, 78, 65, 45, 23], [5, 4, 3, 2, 1]]

In [89]:
n=[]
for i in m:
    n.append(i[2])

In [90]:
n

[5, 65, 3]

In [91]:
#list comprehension
#same thing i need in single line of code
[i[2] for i in m]

[5, 65, 3]

In [101]:
[i[4] for i in m]

[1, 23, 1]

In [102]:
[i[-1] for i in m]

[43, 23, 1]

In [105]:
#diff b/w appened and extend 
# append it append  data the in the  list at end as it's the data which we have entered 
#extened first unrapped the data and then append in the list  whatever data in first it will unrapped but it will not unrappend the second list in case of nested list
m=[1,2,3,4,5,6]
m.append("lakshmidevi")
m

[1, 2, 3, 4, 5, 6, 'lakshmidevi']

In [106]:
m.append([56,76])

In [107]:
m

[1, 2, 3, 4, 5, 6, 'lakshmidevi', [56, 76]]

In [108]:
m.extend("shashi")

In [109]:
m

[1, 2, 3, 4, 5, 6, 'lakshmidevi', [56, 76], 's', 'h', 'a', 's', 'h', 'i']

In [111]:
m.extend(12)

TypeError: 'int' object is not iterable

In [112]:
m

[1, 2, 3, 4, 5, 6, 'lakshmidevi', [56, 76], 's', 'h', 'a', 's', 'h', 'i']

In [113]:
m.pop()

'i'

In [114]:
m.extend(["shashi",12,34])

In [115]:
m

[1,
 2,
 3,
 4,
 5,
 6,
 'lakshmidevi',
 [56, 76],
 's',
 'h',
 'a',
 's',
 'h',
 'shashi',
 12,
 34]

In [116]:
m.index("lakshmidevi")

6

In [121]:
# to remobve the first ocurrs we can use remove or pop operation
#i want to remove all the occurs of the data in list so in this we want to write a code 
a=[1,2,5,4,3,2,3,4,[1,2,3,4,8,9],3,4,6,7,8,9]
for i in a:
    if i==4:
        a.remove(4)
    elif type(i)==list:
        
        i.remove(4)
i

9

In [122]:
a

[1, 2, 5, 3, 2, 3, [1, 2, 3, 4, 8, 9], 3, 6, 7, 8, 9]

In [123]:
a

[1, 2, 5, 3, 2, 3, [1, 2, 3, 4, 8, 9], 3, 6, 7, 8, 9]

In [125]:
#remove all the occurs of the data in list as 3 value
for i in a:
    if i==3:
        a.remove(3)
    elif type(i)== list:
        i.remove(3)

In [126]:
a

[1, 2, 5, 2, [1, 2, 4, 8, 9], 6, 7, 8, 9]